<template>
  <div id="app">
    <fip-card :logo="image" meta-url="https://fipmeta-stasson.c9users.io" />
    <radio-streamer autoplay :source="'http://chai5she.cdn.dvmr.fr/fip-lofi.mp3'" />
  </div>
</template>

<script>
/* eslint-disable */

import RadioStreamer from './components/RadioStreamer';
import FipCard from './components/FipCard';
import fipLogo from './assets/fiplogo.png';

export default {
  name: 'app',
  components: {
    RadioStreamer,
    FipCard,
  },
  data() {
    return {
      image: fipLogo,
    };
  },
};
</script>

<style>
#app {
  max-width:800px;
  margin:auto;
  padding:60px;
}
</style>
