<template>
  <mdc-card class="fip-media">
    <mdc-card-horizontal>
      <mdc-card-header>
        <mdc-card-title large>TITLE</mdc-card-title>
        <mdc-card-subtitle>Performers</mdc-card-subtitle>
      </mdc-card-header>
      <mdc-card-img :src="visual" mult="2"></mdc-card-img>
    </mdc-card-horizontal>
    <mdc-card-actions>
    </mdc-card-actions>
  </mdc-card>
</template>

<script>
/* eslint-disable */
import 'whatwg-fetch';

export default {
  name: 'fip-card',
  props: {
    'meta-url': String,
    logo: String,
  },
  data() {
    return {
      // TODO initialize the data object here      
    };
  },
  mounted() {
    this.fetch();
  },
  methods: {
    onMetaData(meta) {
      // TODO refresh meta info in the view



    },
    fetch () {
      let vm = this;
      
      fetch(this.metaUrl)
       .then(function (response) {
        return response.json()
      })
      .then(function(json) {
        //console.log(json);
        let pos = json.levels[0].position;
        let id = json.levels[0].items[pos];
        let meta = json.steps[id];
        
        vm.onMetaData(meta);

        let start = meta.start*1000;
        let end = meta.end*1000;
        let now = Date.now();
        let delay = end - now;
        delay = Math.max(delay, 1000)
        
        console.log('start:', start)
        console.log('now  :', now)
        console.log('end  :', end)
        console.log('delay  :', delay)


        setTimeout(function() {
          vm.fetch()
        }, delay)

      })
      .catch(function(ex) {
        console.log('parsing failed', ex)
      });
    }
  }
};
</script>

<style >

.fip-media {
    max-width: 700px;
    margin:auto;
}


</style>
