<template>
  <div class="radio-streamer">
      <audio autoplay :muted="!autoplay" ref="audio">
        <source ref="source" :src="source" type="audio/mpeg">
        Your browser does not support the audio element.
      </audio>
      <mdc-fab primary plain fixed @click="toggle">
        {{play_icon}}
      </mdc-fab>
  </div>
</template>

<script>
export default {
  name: 'radio-streamer',
  props: {
    source: String,
    autoplay: Boolean,
  },
  data() {
    return {
      playing: this.autoplay,
    };
  },
  mounted() {
    this.$refs.audio.muted = !this.playing;
  },
  computed: {
    play_icon() {
      return this.playing ? 'pause' : 'play_arrow';
    },
  },
  methods: {
    toggle() {
      this.playing = !this.playing;
      this.$refs.audio.muted = !this.playing;
    },
  },
};
</script>

<style >
</style>
